Source: lxqt-archiver
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           Andrew Lee (李健秋) <ajqlee@debian.org>,
           Yao Wei (魏銘廷) <mwei@debian.org>,
           Simon Quigley <tsimonq2@debian.org>,
           Aaron Rainbolt <arraybolt3@gmail.com>
Section: x11
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               libfm-qt-dev (>= 1.3.0),
               libjson-glib-dev,
               libmagic-dev,
               libqt5x11extras5-dev,
               lxqt-build-tools (>= 0.13.0)
Standards-Version: 4.6.1
Vcs-Browser: https://git.lubuntu.me/Lubuntu/lxqt-archiver-packaging
Vcs-Git: https://git.lubuntu.me/Lubuntu/lxqt-archiver-packaging.git
XS-Debian-Vcs-Browser: https://salsa.debian.org/lxqt-team/lxqt-archiver
XS-Debian-Vcs-Git: https://salsa.debian.org/lxqt-team/lxqt-archiver.git
Homepage: https://github.com/lxqt/lxqt-archiver
Rules-Requires-Root: no

Package: lxqt-archiver
Architecture: any
Depends: bzip2, p7zip-full, ${misc:Depends}, ${shlibs:Depends}
Recommends: gvfs, lxqt-archiver-l10n, unzip, xz-utils, zip
Suggests: arj,
          binutils,
          cpio,
          lha,
          lzip,
          lzma,
          lzop,
          ncompress,
          rar,
          rpm2cpio,
          rzip,
          sharutils,
          unace,
          unalz,
          unrar-free | unar | unrar | p7zip-rar,
          zoo
Description: Archive Manager for LXQt
 LXQt Archiver is an archive manager for the LXQt environment.
 It allows you to:
  * Create and modify archives.
  * View the content of an archive.
  * View a file contained in an archive.
  * Extract files from the archive.
 .
 LXQt Archiver supports the following formats:
  * Tar (.tar) archives, including those compressed with
    gzip (.tar.gz, .tgz), bzip (.tar.bz, .tbz), bzip2 (.tar.bz2, .tbz2),
    compress (.tar.Z, .taz), lzip (.tar.lz, .tlz), lzop (.tar.lzo, .tzo),
    lzma (.tar.lzma) and xz (.tar.xz)
  * Zip archives (.zip)
  * Jar archives (.jar, .ear, .war)
  * 7z archives (.7z)
  * iso9660 CD images (.iso)
  * Lha archives (.lzh)
  * Single files compressed with gzip (.gz), bzip (.bz), bzip2 (.bz2),
    compress (.Z), lzip (.lz), lzop (.lzo), lzma (.lzma) and xz (.xz)
 .
 LXQt Archiver doesn't perform archive operations by itself, but relies on
 standard tools for this.
 .
 This package contain the LXQt archiver.

Package: lxqt-archiver-l10n
Architecture: all
Multi-Arch: foreign
Section: localization
Depends: qttranslations5-l10n, ${misc:Depends}
Description: Language package for lxqt-archiver
 LXQt Archiver is an archive manager for the LXQt environment.
 .
 This package contains the l10n files needed by the lxqt-archiver.
